body img {
	font-size: 0;
}
body {
	font-size: 0;
}
.dragItem {
	display: inline-block;
	margin: 10px;
	width: 120px;
	line-height: 120px;
	vertical-align: middle;

	text-align: center;
	color: #fff;
	font-size: 30px;
	background: #000;
	font-weight: bold;
}
.dragItem.active {
	opacity: 0.4;
	transform: scale(1.2);
}
